.permission-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  
  .permission-item {
    flex: 0 0 25%; /* 4 items per row */
    box-sizing: border-box;
    padding: 5px;
  }
  .permission-item span {
    text-transform: none; /* Ensure normal text case */
  }
  