<div class="popup role-popup">
    <div mat-dialog-actions>
        <i class="fa fa-window-close" (click)="onClose(true)"></i>
    </div>
    <h1 mat-dialog-title>Permissions</h1>
    <div mat-dialog-content>

        <div class="product-table">
            <thead>
                <tr *ngFor="let item of data">
                    <td><b> {{item[0]| titlecase}} :</b></td>
                    <ng-container *ngFor="let permission of item[1]">
                        <td>{{permission.permissionType | uppercase}}   </td>
                    </ng-container>
                </tr>
            </thead>
        </div>
    </div>
</div>
