<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Edit role with permissions</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
     <form autocomplete="off" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                    <div class="Advanced-Attribute mt-0 pt-4">
                        <div class="card-body General-item">
                            <div class="sku mt-3 mr-4 d-flex flex-column">
                                <span class="def">Name </span>
                                <input class="in-put Def" type="text" placeholder="Name" name="name"
                                    formControlName="name"
                                    [ngClass]="{ 'is-invalid': isSubmitted && formControls['name'].errors }">
                                <span class="text-danger" *ngIf="isSubmitted && formControls['name'].errors">
                                    The "Name" field is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="Advanced-Attribute mt-0">
                        <div class="card-body General-item">
                            <div class="sku  mr-4 d-flex flex-column">
                                <span class="def">Permissions</span>
                            </div>
                        </div>


                        <div *ngIf="permisson_obj && permisson_obj.length > 0" class="ml-5">
                            <section class="example-section" *ngFor="let item of permisson_obj">
                                <span class="example-list-section">
                                    <span class="example-list-section font-weight-bold">
                                        <mat-checkbox class="example-margin"  [color]="'primary'"
                                            checked="{{roleNames.includes(item[0])}}" (change)="setAll($event.checked,item[0])">
                                            <span class="text-capitalize">{{item[0]}}</span>
                                        </mat-checkbox>
                                    </span>
                                    <ul class="d-flex">
                                        <li *ngFor="let permission of item[1]" class="ml-4 list-unstyled" id="{{permission.completed ? 'check_true':'check_false'}}">
                                            <mat-checkbox [(ngModel)]="permission.completed"
                                                [ngModelOptions]="{standalone: true}" [color]="'warn'"
                                                (ngModelChange)="updateAllComplete()">
                                                <span class="text-capitalize"> {{permission.permissionType}} </span>
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </span>
                            </section>
                        </div>

                        <div *ngIf="permisson_obj && permisson_obj.length == 0">
                            <section class="example-section mb-3 ml-4">
                                No Permissions found
                            </section>
                        </div>

                    </div>
                    <div class="save ml-4">
                        <button type="submit" class="btn btn-sm btn-primary btn-pri">Update</button>
                    </div>
                </form>
     
  
    </mat-card-content>
  </mat-card>