<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Edit role with permissions</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <form autocomplete="off" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
            <div class="Advanced-Attribute mt-0 pt-4">
              <div class="card-body General-item">
                <div class="sku mt-3 mr-4 d-flex flex-column">
                  <span class="def">Name</span>
                  <input
                    class="in-put Def"
                    type="text"
                    placeholder="Name"
                    name="name"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': isSubmitted && formControls['name'].errors }"
                  />
                  <span class="text-danger" *ngIf="isSubmitted && formControls['name'].errors">
                    The "Name" field is required
                  </span>
                </div>
              </div>
            </div>
            <div class="Advanced-Attribute mt-0">
              <div class="card-body General-item">
                <div class="sku mr-4 d-flex flex-column">
                  <span class="def">Permissions</span>
                </div>
              </div>
          
              <div *ngIf="permissionData && permissionData.length > 0" class="ml-5">
                <div class="permission-row">
                  <div *ngFor="let permission of permissionData; let i = index"
                       class="permission-item" [ngClass]="{'four-permission': (i % 4 === 0)}">
                    <!-- Update checkbox to bind it to the reactive form -->
                    <mat-checkbox
                      [formControl]="roleForm.controls['permissions'].get(i.toString())"
                      [color]="'warn'"
                      (change)="updatePermissionStatus(permission)">
                      <span class="text-capitalize">{{ permission.permissionName }}</span>
                    </mat-checkbox>
                  </div>
                </div>
              </div>
          
              <div *ngIf="!permissionData || permissionData.length === 0">
                <section class="example-section mb-3 ml-4">
                  No Permissions found
                </section>
              </div>
            </div>
          
            <div class="save ml-4">
              <button type="submit" class="btn btn-sm btn-primary btn-pri">Update</button>
            </div>
          </form>
    </mat-card-content>
</mat-card>