<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Create role with permissions</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form autocomplete="off" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="Advanced-Attribute mt-0 pt-4">
        <div class="card-body General-item">
          <div class="sku mt-3 mr-4 d-flex flex-column">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Enter role name" formControlName="name"
                [ngClass]="{ 'is-invalid': isSubmitted && formControls['name'].errors }">
              <mat-error *ngIf="isSubmitted && formControls['name'].errors">name field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="Advanced-Attribute mt-0" style="margin-top: 15px;">
        <div class="card-body General-item">
          <div class="sku mr-4 d-flex flex-column">
            <span class="def">Permissions</span>
          </div>
        </div>

        <div *ngIf="permissionRows && permissionRows.length > 0" class="ml-5">
          <div class="permission-row" *ngFor="let row of permissionRows">
            <div class="permission-item" *ngFor="let permission of row">
              <mat-checkbox [(ngModel)]="permission.completed" [ngModelOptions]="{standalone: true}" [color]="'warn'"
                (ngModelChange)="updateAllComplete()" [style.textTransform]="'none'">
                <span [style.textTransform]="'none'">{{ permission.permissionName }}</span>
              </mat-checkbox>

            </div>
          </div>
        </div>

        <div *ngIf="!permissionRows || permissionRows.length === 0">
          <section class="example-section mb-3 ml-4">
            No Permissions found
          </section>
        </div>
      </div>
        <button type="submit" mat-raised-button color="accent">
          Save
        </button>
    </form>
  </mat-card-content>
</mat-card>