  <div class="popup role-popup">
    <div mat-dialog-actions>
      <i class="fa fa-window-close" (click)="onClose(true)"></i>
    </div>
    <h1 mat-dialog-title style="padding-left: 15px;">Permissions</h1>
    <div mat-dialog-content>
      <div class="product-table">
        <table>
            <thead>
                <tr *ngFor="let row of chunkedData">
                  <!-- <td><b>{{ item[0] | titlecase }}:</b></td> -->
                  <ng-container *ngFor="let permission of row">
                    <td>{{ permission | titlecase }}</td>
                  </ng-container>
                </tr>
              </thead>
          <!-- <tbody>
            <tr *ngFor="let row of chunkedData">
              <td *ngFor="let permission of row">
                {{ permission.permissionName | titlecase }}
              </td>
            </tr>
          </tbody> -->
        </table>
      </div>
    </div>
  </div>
  